extends layouts/main.pug

block content
  .video__player
    video(src=`${video.fileUrl}`) Edit Video
  .video__info
    a(href=routes.editVideo)
    h5.video__title=video.title
    span.video__views=video.views
    p.video__description=video.description